@media screen and (max-width: 479px) {

.header {
  height: 200px;
  width: 200px;
}

.white-box {
  height: 160px;
  width: 60px;
  left: 70px;
}

.center-box {
  top: 60px;
  left: 10px;
}

.right-box {
  top: 110px;
  left: 10px;
}

.main {
  display: block;
}

.left {
  height: 100px;
  width: 200px;
}

.right {
  height: 200px;
  width: 200px;
}

.three-box {
  top: 120px;
  left: 30px;
}

.footer {
  height: 100px;
  width: 200px;
}
}