@media screen and (max-width: 767px) {

  .header {
    width: 300px;
  }

  .left {
    width: 100px;
  }

  .right2 {
    width: 125px;
  }

  .pink {
    width: 75px;
  }

  .red {
    width: 200px;
  }

  .footer {
    width: 300px;
  }

}

@media screen and (max-width: 479px) {

  .header {
    width: 150px;
  }

  .left {
    width: 150px;
    float: none;
  }

  .right2 {
    width: 150px;
    float: none;
  }

  .pink {
    width:150px;
  }

  .red {
    width: 150px;
  }

  .footer {
    width: 150px;
  }
}
