@media screen and (min-width: 767px) {
  .contents {
    float: none; /* 要素の浮動化の解除 */
    }

  .wrapper{
  width: 1000px;
  }

  .header {
    width: 300px;
  }

  .left {
    width: 100px;
  }

  .right2 {
    width: 125px;
  }

  .pink {
    width: 75px;
  }

  .red {
    width: 200px;
  }

  .footer {
    width: 300px;
  }

}

@media screen and (max-width: 479px) {
  .contents {
    float: none; /* 要素の浮動化の解除 */
    }

  .wrapper{
  width: 1000px;
  }

  .header {
    width: 150px;
  }

  .left {
    width: 150px;
  }

  .right2 {
    width: 150px;
  }

  .pink {
    width:150px;
  }

  .red {
    width: 150px;
  }

  .footer {
    width: 150px;
  }
}
